body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto';
}

.escolherbotao{
    background-color: rgb(66, 146, 66);
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: bold;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
}

.letrascontainer{
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    width: 835px;
}

.letra{
  width: 55px;
  height: 55px;
  padding: 10px;
  background-color: white;
  color:  #39739D;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  font-size: 15px;
  border: 1px solid gray;
}

.clicada, .letra:disabled{
    background-color:  #9FAAB5;
    color:  #798A9F;
}

form{
    width: 835px;
    display: flex;
    justify-content: center;
    gap: 2%;
    padding-top: 100px;
    padding-bottom: 100px;
}

input{
    border: 1px solid #CCCCCC;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    width: 70%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;

}

label{
    width: 82%;
    display: flex;
    gap: 15px;
}

label span{
    width: fit-content;
    font-size: 22px;
    display: flex;
    align-items: center;
}


.done{
    width: 16%;
    padding: 18px;
    text-align: center;
    background-color: #E1ECF4;
    color: rgb(30, 30, 187);
    font-weight: bold;
    border: 1px solid gray;
    border-radius: 6px;
    font-size: 20px;
}

.forcawrapper{
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-top: 10px;
    margin-bottom: 70px;
}
.forcawrapper div{
    font-size: 50px;
    font-weight: bold;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 400px;
    
}

.escolherepalavra{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.escolhas{
    display: flex;
    gap: 10px;
    font-size: 50px !important;
}

.venceu{
    color: green;
}

.perdeu{
    color: red;
}